/coverage/
/coverage_meta/
/coverage_meta_*/
/target/
/crates/*/target/
/crates/*/target-coverage/
/crates/*/fuzz/coverage/
/crates/*/fuzz/target/
/crates/*/fuzz/Cargo.lock
/crates/*/fuzz-*.log
*~
*.tmp
.#*
\#*\#
.cargo
/arti-linux
/arti-windows.exe
/arti-macos
/chutney
/osxcross
/.arti_rpc_test
