[package]
name = "tor-hscrypto"
version = "0.24.0"
authors = ["The Tor Project, Inc.", "Nick Mathewson <nickm@torproject.org>"]
edition = "2021"
rust-version = "1.77"
license = "MIT OR Apache-2.0"
homepage = "https://gitlab.torproject.org/tpo/core/arti/-/wikis/home"
description = "Basic onion service cryptography types used by Aerti"
keywords = ["tor", "arti", "cryptography"]
categories = ["cryptography"]
repository = "https://gitlab.torproject.org/tpo/core/arti.git/"

[features]
default = []
memquota-memcost = ["derive-deftly", "tor-memquota", "tor-units/memquota-memcost", "tor-llcrypto/memquota-memcost"]
ope = ["cipher", "zeroize"]

# Onion service proof of work schemes
pow-v1 = ["arrayvec", "blake2", "equix", "__is_experimental"]
pow-full = ["pow-v1", "__is_experimental"]

full = [
    "memquota-memcost",
    "ope",
    "safelog/full",
    "tor-basic-utils/full",
    "tor-bytes/full",
    "tor-llcrypto/full",
    "tor-units/full",
    "tor-error/full",
    "equix?/full",
    "tor-memquota?/full",
]

experimental = [
    "pow-full",
    "pow-v1",
]
__is_experimental = []

[dependencies]
arrayvec = { version = "0.7.4", optional = true }
blake2 = { version = "0.10.6", optional = true }
cipher = { version = "0.4.1", features = ["zeroize"], optional = true }
data-encoding = "2.3.1"                                                                                    # want MSVC i686 build fix, data-encoding/issues/33
derive-deftly = { version = "0.14.2", optional = true }
derive_more = { version = "1.0.0", features = ["full"] }
digest = "0.10.0"
equix = { path = "../equix", version = "0.2.0", optional = true }
itertools = "0.13.0"
paste = "1"
rand = "0.8"
safelog = { path = "../safelog", version = "0.4.1" }
signature = "2"
subtle = "2"
thiserror = "2"
tor-basic-utils = { path = "../tor-basic-utils", version = "0.24.0" }
tor-bytes = { version = "0.24.0", path = "../tor-bytes" }
tor-error = { version = "0.24.0", path = "../tor-error" }
tor-llcrypto = { version = "0.24.0", path = "../tor-llcrypto", features = ["hsv3-client", "hsv3-service"] }
tor-memquota = { version = "0.24.0", path = "../tor-memquota", default-features = false, optional = true }
tor-units = { path = "../tor-units", version = "0.24.0" }
void = "1"
zeroize = { version = "1", optional = true }

[dev-dependencies]
hex = "0.4"
hex-literal = "0.4"
humantime = "2"
tor-basic-utils = { version = "0.24.0", path = "../tor-basic-utils" }

[[test]]
name = "pow_v1_vectors"
required-features = ["pow-v1"]
