[package]
name = "tor-chanmgr"
version = "0.5.0"
authors = ["The Tor Project, Inc.", "Nick Mathewson <nickm@torproject.org>"]
edition = "2021"
rust-version = "1.56"
license = "MIT OR Apache-2.0"
homepage = "https://gitlab.torproject.org/tpo/core/arti/-/wikis/home"
description = "Manage a set of connections to the Tor network"
keywords = ["tor", "arti", "async"]
categories = ["network-programming", "cryptography"]
repository = "https://gitlab.torproject.org/tpo/core/arti.git/"

[features]
testing = [ ]

[dependencies]
async-trait = "0.1.2"
derive_builder = { version = "0.11.2", package = "derive_builder_fork_arti" }
derive_more = "0.99"
educe = "0.4.6"
futures = "0.3.14"
postage = { version = "0.5.0", default-features = false, features = ["futures-traits"] }
rand = "0.8"
serde = { version = "1.0.103", features = ["derive"] }
thiserror = "1"
tor-basic-utils = { path = "../tor-basic-utils", version = "0.3.3" }
tor-cell = { path = "../tor-cell", version = "0.5.0" }
tor-config = { path = "../tor-config", version = "0.5.0" }
tor-error = { path = "../tor-error", version = "0.3.2" }
tor-linkspec = { path = "../tor-linkspec", version = "0.4.0" }
tor-llcrypto = { path = "../tor-llcrypto", version = "0.3.3" }
tor-netdir = { path = "../tor-netdir", version = "0.5.0" }
tor-proto = { path = "../tor-proto", version = "0.5.0" }
tor-rtcompat = { path = "../tor-rtcompat", version = "0.5.0" }
tor-units = { path = "../tor-units", version = "0.3.1" }
tracing = "0.1.18"
void = "1"

[dev-dependencies]
float_eq = "1.0.0"
futures-await-test = "0.3.0"
hex-literal = "0.3"
itertools = "0.10.1"
tor-cell = { path = "../tor-cell", version = "0.5.0", features = ["testing"] }
tor-netdir = { path = "../tor-netdir", version = "0.5.0", features = ["testing"] }
tor-proto = { path = "../tor-proto", version = "0.5.0", features = ["testing"] }
tor-rtcompat = { path = "../tor-rtcompat", version = "0.5.0", features = ["tokio", "native-tls"] }
tor-rtmock = { path = "../tor-rtmock", version = "0.4.0" }
