[package]
name = "tor-netdir"
version = "0.38.0"
authors = ["The Tor Project, Inc.", "Nick Mathewson <nickm@torproject.org>"]
edition = "2024"
rust-version = "1.86"
license = "MIT OR Apache-2.0"
homepage = "https://gitlab.torproject.org/tpo/core/arti/-/wikis/home"
description = "Types to represent and use a Tor network directory"
keywords = ["tor", "arti"]
categories = ["network-programming"]
repository = "https://gitlab.torproject.org/tpo/core/arti.git/"
[package.metadata.docs.rs]
all-features = true

[features]
default = []

experimental = ["experimental-api", "testing", "geoip"]

# Enable experimental APIs that are not yet officially supported.
#
# These APIs are not covered by semantic versioning.  Using this
# feature voids your "semver warrantee".
experimental-api = ["visibility", "__is_experimental"]
hs-client = ["hs-common"]
hs-service = ["hs-common", "tor-hscrypto/ope"]
hs-common = [
    "digest",
    "hex",
    "time",
    "tor-hscrypto",
    "tor-linkspec/decode",
    "tor-linkspec/verbatim",
]
geoip = ["tor-geoip", "__is_experimental"]

# Enable testing-only APIs.  APIs under this feature are not
# covered by semver.
testing = ["hex", "postage", "tor-netdoc/build_docs", "__is_experimental"]

full = [
    "hs-client",
    "hs-service",
    "tor-basic-utils/full",
    "tor-error/full",
    "tor-hscrypto?/full",
    "tor-linkspec/full",
    "tor-llcrypto/full",
    "tor-netdoc/full",
    "tor-protover/full",
    "tor-units/full",
    "tor-geoip?/full",
]
__is_experimental = []

[dependencies]
async-trait = "0.1.54"
bitflags = "2"
derive_more = { version = "2.0.1", features = ["full"] }
digest = { version = "0.10.0", optional = true }
futures = "0.3.14"
hex = { version = "0.4", optional = true }
humantime = "2"
itertools = "0.14.0"
num_enum = "0.7"
postage = { version = "0.5.0", default-features = false, features = ["futures-traits"], optional = true }
rand = "0.9.1"
serde = { version = "1.0.103", features = ["derive"] }
strum = { version = "0.27.1", features = ["derive"] }
thiserror = "2"
time = { version = "0.3.17", features = ["macros"], optional = true }
tor-basic-utils = { path = "../tor-basic-utils", version = "0.38.0" }
tor-error = { path = "../tor-error", version = "0.38.0" }
tor-geoip = { path = "../tor-geoip", version = "0.38.0", optional = true }
tor-hscrypto = { path = "../tor-hscrypto", version = "0.38.0", optional = true }
tor-linkspec = { path = "../tor-linkspec", version = "0.38.0" }
tor-llcrypto = { path = "../tor-llcrypto", version = "0.38.0" }
tor-netdoc = { path = "../tor-netdoc", version = "0.38.0" }
tor-protover = { path = "../tor-protover", version = "0.38.0" }
tor-units = { path = "../tor-units", version = "0.38.0" }
tracing = "0.1.36"
typed-index-collections = "3.2.3"
visibility = { version = "0.1.0", optional = true }

[dev-dependencies]
float_eq = "1.0.0"
hex = "0.4"
hex-literal = "1.0"
tor-netdoc = { path = "../tor-netdoc", version = "0.38.0", features = ["build_docs"] }
