[package]
name = "tor-persist"
version = "0.2.0"
authors = ["The Tor Project, Inc.", "Nick Mathewson <nickm@torproject.org>"]
edition = "2021"
rust-version = "1.56"
license = "MIT OR Apache-2.0"
homepage = "https://gitlab.torproject.org/tpo/core/arti/-/wikis/home"
description = "Persistent state for the Arti Tor implementation"
keywords = ["tor", "arti"]
categories = ["config"]
repository = "https://gitlab.torproject.org/tpo/core/arti.git/"

[features]
# Enable testing-only APIs.  APIs under this feature are not
# covered by semver.
testing = []

[dependencies]
serde = { version = "1.0.103", features = ["derive"] }
serde_json = "1.0.50"
sanitize-filename = "0.3.0"
thiserror = "1"
tracing = "0.1.18"
tor-error = { path = "../tor-error", version = "0.2.0" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
fslock = { version = "0.2.0" }

[dev-dependencies]
tempfile = "3"
