[package]
name = "tor-config"
version = "0.39.0"
authors = ["The Tor Project, Inc.", "Nick Mathewson <nickm@torproject.org>"]
edition = "2024"
rust-version = "1.86"
license = "MIT OR Apache-2.0"
homepage = "https://gitlab.torproject.org/tpo/core/arti/-/wikis/home"
description = "Low-level configuration for the Arti Tor implementation"
keywords = ["tor", "arti"]
categories = ["config"]
repository = "https://gitlab.torproject.org/tpo/core/arti.git/"

[features]
default = []

full = [
    "fs-mistrust/full",
    "tor-basic-utils/full",
    "tor-error/full",
    "tor-rtcompat/full",
]

experimental = ["testing", "experimental-api"]
# Enable experimental APIs that are not yet officially supported.
#
# These APIs are not covered by semantic versioning.  Using this
# feature voids your "semver warrantee".
experimental-api = ["__is_experimental"]

# Enable testing-only APIs.  APIs under this feature are not
# covered by semver.
testing = ["__is_experimental"]

__is_experimental = []

[dependencies]
amplify = { version = "4", default-features = false, features = ["derive"] }
cfg-if = "1.0.0"
derive-deftly = { version = "~1.6.0", features = ["full", "beta"] }
derive_builder = { version = "0.11.2", package = "derive_builder_fork_arti" }
educe = "0.4.22"
either = "1"
figment = { version = "0.10.18", features = ["toml"] }
fs-mistrust = { path = "../fs-mistrust", version = "0.13.1" }
futures = "0.3.14"
humantime-serde = "1.1.1"
itertools = "0.14.0"
notify = { version = "8", default-features = false, features = ["macos_kqueue"] }
paste = "1.0.3"
postage = { version = "0.5.0", default-features = false, features = ["futures-traits"] }
regex = { version = "1", default-features = false, features = ["std"] }
serde = { version = "1.0.103", features = ["derive"] }
serde-value = "0.7.0"
serde_ignored = "0.1.3"
strum = { version = "0.27.1", features = ["derive"] }
thiserror = "2"
toml = "0.9.5"
tor-basic-utils = { path = "../tor-basic-utils", version = "0.39.0" }
tor-error = { path = "../tor-error", version = "0.39.0" }
tor-rtcompat = { path = "../tor-rtcompat", version = "0.39.0" }
tracing = "0.1.36"
void = "1"

[dev-dependencies]
assert_matches = "1.5.0"
serde_json = "1.0.50"
tempfile = "3"
test-temp-dir = { version = "0.6.0", path = "../test-temp-dir" }
tor-basic-utils = { path = "../tor-basic-utils", version = "0.39.0", features = ["serde"] }
tor-rtcompat = { path = "../tor-rtcompat", version = "0.39.0", features = ["tokio", "native-tls"] }
tracing-test = "0.2.4"

[package.metadata.docs.rs]
all-features = true
