[package]
name = "tor-key-forge"
version = "0.38.0"
authors = ["The Tor Project, Inc."]
edition = "2024"
rust-version = "1.86"
license = "MIT OR Apache-2.0"
homepage = "https://gitlab.torproject.org/tpo/core/arti/-/wikis/home"
description = "Low level cryptography wrappers used by Tor"
keywords = ["tor", "arti", "cryptography"]
categories = ["cryptography"]
repository = "https://gitlab.torproject.org/tpo/core/arti.git/"

[features]
default = []
full = [
    "tor-error/full",
    "tor-llcrypto/full",
    "tor-cert/full",
    "tor-bytes/full",
    "tor-checkable/full",
]

__is_nonadditive = []
__is_experimental = []

[dependencies]
derive-deftly = { version = "~1.6.0", features = ["full", "beta"] }
derive_more = { version = "2.0.1", features = ["full"] }
downcast-rs = "2.0.1"
paste = "1"
rand = "0.9.1"
rsa = "0.9.0"
signature = "2"
ssh-key = { version = "0.6.1", features = ["std", "rsa"] }
thiserror = "2"
tor-bytes = { path = "../tor-bytes", version = "0.38.0", default-features = false }
tor-cert = { path = "../tor-cert", version = "0.38.0", features = ["encode", "experimental-api"] }
tor-checkable = { path = "../tor-checkable", version = "0.38.0" }
tor-error = { version = "0.38.0", path = "../tor-error" }
tor-llcrypto = { version = "0.38.0", path = "../tor-llcrypto" }

[dev-dependencies]
signature = "2"
tor-basic-utils = { path = "../tor-basic-utils", version = "0.38.0" }
tor-llcrypto = { version = "0.38.0", path = "../tor-llcrypto", features = ["testing"] }
