[package]
name = "tor-geoip"
version = "0.39.0"
authors = ["The Tor Project, Inc.", "eta <eta@torproject.org>"]
edition = "2024"
rust-version = "1.86"
license = "MIT OR Apache-2.0"
homepage = "https://gitlab.torproject.org/tpo/core/arti/-/wikis/home"
description = "A crate to parse C Tor GeoIP CSV files."
keywords = ["tor", "arti"]
readme = "README.md"
categories = ["parser-implementations", "network-programming"]
repository = "https://gitlab.torproject.org/tpo/core/arti.git/"

[dependencies]
derive_more = { version = "2.0.1", features = ["full"] }
rangemap = "1.3"
thiserror = "2"

[features]
embedded-db = []
default = ["embedded-db"]
full = ["embedded-db"]
